<div class="bar bar-header bar-clear item-input-inset ">
  <button class="button button-icon button-clear ion-ios-arrow-left balanced" style="color: #2d2d2d!important;"
          ng-click="vm.backToHome()"></button>
  <h3 class="title" style="color: #111111!important;">
  </h3>

  <div class="im-ad-share-btn">
    <span class="im-btn-share-sm">
      <i class="fa fa-share-square-o fa-sm" style="font-size: 22px!important;"></i>
    </span>
    <span class="im-btn-share-sm">
      <i class="fa fa-heart-o fa-sm" style="font-size: 22px!important;padding-left: 10px"></i>
    </span>
  </div>
</div>

<ion-view hide-tabs style="padding: 0px">
  <ion-content class="has-footer">
    <div class="list" style="padding-top: 0px;">

      <ion-slide-box style="height:200px" on-slide-changed="" auto-play="false"
                     does-continue="true" slide-interval="5000">
        <ion-slide ng-repeat="ele in vm.slideElement">
          <div class="box item-image">
            <img ng-src="{{ele.img}}" class="full-image im-silder"
                 style="height: 200px" alt="...">
          </div>
        </ion-slide>
      </ion-slide-box>

      <div class="item"
           style="white-space:normal;background: #fff;font-size: 15px;line-height: 20px;padding: 13px 10px;position: relative;word-break: break-word;">
        杭州天城，开元酒店1晚+双早+双晚双人套餐（中/晚餐）
      </div>
      <div class="item row" style="border-top: 0px">
        <div class="col" style="border-right: 1px solid #f5f5f5">
          <span style="color: #111111;font-size: 22px!important;">
            <i class="fa fa-map-marker fa-sm" style="font-size: 18px!important;padding-left: 10px"></i>
          </span>
          <span><label style="font-size: 16px;color: #387ef5"></label>商铺位置</span>
        </div>
        <div class="col" style="border-right: 1px solid #f5f5f5">
          <span style="color: #111111;font-size: 22px!important;">
            <i class="fa fa-meh-o fa-sm" style="font-size: 18px!important;padding-left: 10px"></i>
          </span>
          <span><label style="font-size: 16px;color: #387ef5">42</label>评论</span>
        </div>
        <div class="col">
          <span style="color: #111111;font-size: 22px!important;">
            <i class="fa fa-heart-o fa-sm" style="font-size: 17px!important;padding-left: 10px"></i>
          </span>
          <span><label style="font-size: 16px;color: #387ef5">23</label>收藏</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
          <span style="color: #111111;font-size: 22px!important;">
            <i class="fa fa-star fa-sm im-ad-details-icon-sm"></i>
          </span>
        <span>特色推荐</span>
      </div>
      <div class="item item-text-wrap" style="padding: 0px">
        <ul class="recommendation">
          <li><span></span>去杭城美丽南部，苍穹之巅，云中漫步，手摘星辰，万籁俱寂之时，偷听流星的声音？</li>
          <li><span></span>开元首个融入山体自然景观为中心的旅游综合体，座落的位置为越王勾践父亲允常的行宫旧址，是吴越文化的保留地。</li>
          <li><span></span>所有房型都带景观露台，山顶云雾缭绕。足不出户就能看到“似海非海，瞬息万变”的绮丽景象！</li>
        </ul>
      </div>
      <div class="list im-list-info">
        <a class="item item-icon-left im-list-bottom-clear" style="border-bottom-width: 0px;" href="#">
          <i class="icon ion-navicon assertive"></i>
          <span style="padding-left: 0px">详细信息</span>
          <span class="item-note"></span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
        </a>

        <span class="im-span-divider"></span>
        <a class="item item-icon-left" style="border-top-width: 0px;border-bottom-width: 0px" href="#">
          <i class="icon ion-ios-clock-outline balanced"></i>
          <span style="padding-left: 0px">活动时间</span>
          <span class="item-note">9/17</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
        </a>
        <span class="im-span-divider"></span>
        <a class="item item-icon-left im-list-bottom-top-clear" href="#">
          <i class="icon ion-ios-color-filter-outline positive"></i>
          <span style="padding-left: 0px">类型</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
        </a>

        <span class="im-span-divider"></span>
        <a class="item item-icon-left im-list-top-clear" href="#">
          <i class="icon ion-android-map royal"></i>
          <span style="padding-left: 0px">活动地址</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
        </a>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="padding: 0px;margin: 0px" >
    <div class="row" style="padding: 0px;">
      <div class="col" style="text-align: center">
        <a class="button button-clear" style="color:black">了解详情</a>
      </div>
      <div class="col" style="background-color: #ff8400!important; text-align: center">
        <a class="button button-clear" style="color:white" class="">参加活动</a>
      </div>
    </div>
  </div>
</ion-view>


<style>
  .im-ad-share-btn {
    color: #111111;
    font-size: 22px !important;
    padding-left: 260px
  }

  .im-btn-share-sm {
    color: #111111;
    font-size: 22px !important;
  }

  .recommendation {
    background: #fdf6e2;
    padding: 12px 10px;
  }

  .recommendation li {
    font-size: 13px;
    color: #ff8400;
    position: relative;
    line-height: 19px;
  }

  .im-ad-details-header > h3 {
    color: white;
    border: 0px;
  }

  .im-ad-details-list-info {
    margin-bottom: 0px;
  }

  .im-ad-details-list-info > a {
    padding: 12px 12px 12px 12px;
  }

  .im-ad-details-list-info > a > span {
    padding: 5px
  }

  .im-ad-details-list-info > a > span.item-note {
    padding: 0px 23px 0px 0px;
    font-size: 15px;
    font-weight: 300;
  }

  .im-ad-details-list-info > a > span.badge {
    padding-top: 8px
  }

  .im-ad-details-list-info > a > i {
    font-size: 23px !important;
  }

  .im-div-divider {
    min-height: 14px;
    background-color: #f5f5f5 !important;
    color: #222;
    font-weight: 500;
  }

  .im-span-account-setting-divider {
    border-top: 3px solid #f5f5f5;
    padding: 0px;
    display: block;
    margin-left: 12px;
  }

  .im-list-bottom-clear {
    border-bottom-width: 0px !important;
  }

  .im-list-top-clear {
    border-top-width: 0px !important;
  }

  .im-list-bottom-top-clear {
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
  }

  .im-list-info {
    margin-bottom: 0px;
  }

  .im-list-info > a {
    padding: 12px 12px 12px 50px !important;
  }

  .im-list-info > a > span {
    padding: 5px
  }

  .im-list-info > a > span.item-note {
    padding: 0px 25px 0px 0px
  }

  .im-list-info > a > span.badge {
    padding-top: 8px
  }

  .im-list-info > a > i {
    font-size: 23px !important;
  }

  .im-span-divider {
    border-top: 3px solid #f5f5f5;
    padding: 0px;
    display: block;
    margin-left: 17px;
  }

  .im-ad-details-icon-sm {
    font-size: 18px !important;
    color: #ff8400
  }
</style>
