<!--<link href="../../css/style.css" rel="stylesheet">-->
<ion-view>
  <div class="bar bar-header item-input-inset im-home-header" no-tap-scroll="true">
    <!-- header -->
    <button class="button button-icon icon button-clear ion-white icon-im-city im-home-location"
            ng-click="modal.show()">{{vm.location_city}}
    </button>
    <label class="item-input-wrapper" style="background-color: rgba(36, 43, 69, 0.9)!important;">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索商品" class="" style="background-color: transparent!important;"/>
    </label>
    <button class="button button-icon icon button-clear ion-white ion-qr-scanner im-home-scanner"
            ng-click="vm.boardScan()"></button>
  </div>

  <ion-content class="has-header" on-pulling="vm.updateData()" no-tap-scroll="true">
    <!-- 数据加载-->
    <ion-refresher pulling-text="刷新" on-refresh="vm.updateData()"
                   pulling-icon="ion-ios-arrow-thin-down">
      <ion-spinner icon="spiral"></ion-spinner>
    </ion-refresher>

    <!-- 轮播-->
    <div class="list" style="padding: 0px;margin: 0px">
      <ion-slide-box style="" on-slide-changed="slideHasChanged($index)" auto-play="true"
                     does-continue="true" slide-interval="5000">
        <ion-slide ng-repeat="ele in vm.slideElement">
          <div class="box item-image">
            <a href="#/tab/ad-details" style="height:117px">
              <img ng-src="{{ele.img}}" style="height: 100%; width: 100%" class="full-image im-silder" alt="...">
            </a>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <!-- 主题-->
    <div class="list" style="padding: 0px;margin: 0px">
      <div class="row" style="border-top: 0px;text-align: center;height: 100px;padding:5px 0px 5px 0px;margin: 0px">
        <div class="col">
          <span style="height: 50px;width: 50px;display: inline-block;border-radius: 25px;background:rgb(252,159,40);">
             <i class="icon-im-map" style="font-size: 30px;line-height: 55px;color: #ffffff">
             </i>
          </span>

          <p style="margin-top: 10px;padding-bottom: 10px;margin-bottom: 0px;font-size: 13px;color: rgb(100,100,100)">
            附近活动</p>
        </div>

        <div class="col">
          <span style="height: 50px;width: 50px;display: inline-block;border-radius: 25px;background:rgb(28,158,243);">
            <h1 style="font-size: 30px;line-height: 50px;color: #ffffff;">免</h1>
          </span>

          <p style="margin-top: 10px;padding-bottom: 0px;margin-bottom: 0px;font-size: 13px;color: rgb(100,100,100)">
            免费试用</p>
        </div>

        <div class="col">
          <span style="height: 50px;width: 50px;display: inline-block;border-radius: 25px;background:rgb(236,48,65);">
             <span class="icon-tools-2" style="font-size: 30px;line-height: 50px;color: #ffffff"></span>
          </span>

          <p style="margin-top: 10px;padding-bottom: 0px;margin-bottom: 0px;font-size: 13px;color: rgb(100,100,100)">
            生活服务</p>
        </div>
        <div class="col">
          <span style="height: 50px;width: 50px;display: inline-block;border-radius: 25px;background:rgb(255,201,0);">
             <span class="ion-more" style="font-size: 40px;line-height: 50px;color: #ffffff"></span>
          </span>

          <p style="margin-top: 10px;padding-bottom: 0px;margin-bottom: 0px;font-size: 13px;color: rgb(100,100,100)">
            更多</p>
        </div>
      </div>

      <!-- 主题分割线-->
      <div class="im-home-div-divider"></div>
      <!-- 展示-->
      <div class="row" style="padding: 0px;margin: 0px;height: 130px">
        <div class="col im-right-border " style="height:130px">
          <img class=""
               src="http://gw.alicdn.com/tps/i2/TB1kMUjIXXXXXXrXpXXm_8E_XXX-450-540.jpg_q50.jpg?imgtag=avatar"
               height="100%"
               width="100%"/>
        </div>

        <div class="col col-50" style="padding-left: 0px; padding-bottom: 0px">
          <div class="im-bottom-border " style="padding: 0px 0px 5px 0px;margin-bottom: 0px;height: 60px">
            <img class="" src="http://gw.alicdn.com/tps/i2/TB1FmJxHpXXXXX7XpXX.l5FJpXX-675-216.jpg_q50.jpg"
                 height="100%" width="100%"/>
          </div>

          <div class="row " style="margin-top: 0px;padding: 0px;height: 65px;">
            <div class="col" style="height: 65px;border-right: 1px solid #f5f5f5">
              <img class=""
                   src="http://gw.alicdn.com/tps/i2/TB1r4D5IXXXXXcGXVXXW2_Z5VXX-333-324.png?imgtag=avatar"
                   height="100%" width="100%"
                />
            </div>
            <div class="col" style="height: 65px">
              <img class=""
                   src="http://gw.alicdn.com/tps/i2/TB1BmEMHFXXXXaMaXXXW2_Z5VXX-333-324.png?imgtag=avatar"
                   height="100%" width="100%"
                />
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 列表-->
    <div class="list margin-bottom-clear padding-clear group-list" ng-repeat="topic in vm.topicList">
      <div class="item-divider padding-left" ion-affix data-affix-within-parent-with-class="group-list">
        <strong style="color: #666">{{topic.topicName}}</strong>
      </div>

      <a class="item" style="padding: 0px;border-width:0px; margin: 0px;height: 110px"
         ng-repeat="detail in topic.details" href="{{detail.url}}">
        <div class="" style="padding: 0px 12px 0px 12px;float: left;margin: 0px">
          <div style="padding: 12px 0px 12px 0px;margin: 0px;height: 110px; margin: 0px"
               ng-class="{true: 'im-span-home-divider', false: ''}[$index!=topic.details.length-1]">
            <img ng-src="{{detail.imgUrl}}"
                 style="width: 120px;height:100%;border-radius: 0px;margin-right: 12px"
                 align="left">

            <div
              style="padding-bottom: 0px;white-space: normal;-webkit-line-clamp: 2;    -webkit-box-orient: vertical;overflow: hidden;">
              <strong style="height: 26px;line-height:26px;color: #333">
                {{detail.name}}
                <span style="background-color: rgb(238,184,40);color: white;height: 18px;line-height: 18px;font-size: 8px;padding: 2px">促</span>
                <span style="right: 12px;position: relative;color: #999;font-size: 12px;position: absolute"><100m</span>
              </strong>
              <p
                style="font-size: 13px;height:40px;line-height: 20px;margin-bottom: 0px;color:#666;white-space: normal;-webkit-line-clamp: 2;    -webkit-box-orient: vertical;overflow: hidden;"
                ng-maxlength="28">
                {{detail.note}}
              </p>

              <span style="height: 20px;line-height: 20px;color: #f60;font-size: 20px;">$21</span>
              <span style="line-height:28px;right: 12px;position: relative;color: #999;font-size: 12px;position: absolute">还剩23人次</span>
            </div>
          </div>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>

<style>
  /*.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {*/
  /*font-size: 20px;*/
  /*line-height: 32px;*/
  /*}*/
</style>
