<ion-view>
  <div class="bar bar-header item-input-inset im-home-header" no-tap-scroll="true">
    <!-- header -->
    <button class="button button-icon icon button-clear ion-white ion-ios-location-outline im-location"
            ng-click="modal.show()">{{vm.location_city}}
    </button>
    <label class="item-input-wrapper im-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索商品" class="im-input-wrapper"/>
    </label>
    <button class="button button-icon icon button-clear ion-white ion-qr-scanner im-scanner"
            ng-click="vm.boardScan()"></button>
  </div>

  <ion-content class="has-header" on-pulling="vm.updateData()" no-tap-scroll="true">
    <!-- 数据加载-->
    <ion-refresher pulling-text="" on-refresh="vm.updateData()"
                   pulling-icon="ion-ios-arrow-thin-down">
      <ion-spinner icon="spiral"></ion-spinner>
    </ion-refresher>

    <!-- 轮播-->
    <div class="list" style="padding-top: 0px;">
      <ion-slide-box style="height:120px" on-slide-changed="slideHasChanged($index)" auto-play="true"
                     does-continue="true" slide-interval="5000">
        <ion-slide ng-repeat="ele in vm.slideElement">
          <div class="box item-image">
            <a href="#/tab/ad-details">
              <img ng-src="{{ele.img}}" class="full-image im-silder" alt="...">
            </a>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <!-- 主题-->
    <div class="list" style="margin-bottom: 0px;">
      <div class="row im-clear-padding">
        <div class="col im-text-center" ng-repeat="theme in vm.imTheme">
          <img class="logo-small im-border-radius-30"
               ng-src="{{theme.img}}"
               width="60" height="60">
          <br/>

          <p style="font-size:12px">{{theme.themeType}}</p>
        </div>
      </div>

      <!-- 主题分割线-->
      <div class="im-div-divider"></div>
      <!-- 展示-->
      <div class="row">
        <div class="col im-right-border ">
          <img class=""
               src="http://gw.alicdn.com/tps/i2/TB1kMUjIXXXXXXrXpXXm_8E_XXX-450-540.jpg_q50.jpg?imgtag=avatar"
               height="100px"
               width="100%"/>
        </div>
        <div class="col col-50">
          <div class="row im-bottom-border ">
            <div class="col ">
              <img class=""
                   src="http://gw.alicdn.com/tps/i2/TB1FmJxHpXXXXX7XpXX.l5FJpXX-675-216.jpg_q50.jpg"
                   height="50px" width="100%"
                />
            </div>
          </div>
          <div class="row ">
            <div class="col">
              <img class=""
                   src="http://gw.alicdn.com/tps/i2/TB1r4D5IXXXXXcGXVXXW2_Z5VXX-333-324.png?imgtag=avatar"
                   height="50px" width="100%"
                />
            </div>
            <div class="col">
              <img class=""
                   src="http://gw.alicdn.com/tps/i2/TB1BmEMHFXXXXaMaXXXW2_Z5VXX-333-324.png?imgtag=avatar"
                   height="50px" width="100%"
                />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表-->
    <div class="list im-clear-bottom-margin" ng-repeat="topic in vm.topicList">
      <div class="item-divider padding-left">{{topic.topicName}}</div>
      <a class="item im-list-bottom-top-clear im-clear-top-bottom-margin"
         style="padding: 0px;border-width:0px;margin-top: 2px"
         ng-repeat="detail in topic.details" href="{{detail.url}}">
        <div class="row" style="padding: 9px;">
          <div class="" style="width: 32%;height:78px;padding: 0px">
            <img ng-src="{{detail.imgUrl}}" style="width: 100%;height:100%;border-radius: 3px;">
          </div>
          <div class="" style="width: 65%;padding-left: 9px;padding-bottom: 0px">
            <h2>{{detail.name}}</h2>

            <p
              style="font-size: 13px;white-space: normal;-webkit-line-clamp: 2;    -webkit-box-orient: vertical;overflow: hidden;"
              ng-maxlength="28">
              <span class="fa fa-bullhorn fa-sm" style="font-size: 13px!important; color: yellowgreen"></span>
              {{detail.note}}
            </p>
          </div>
        </div>
        <span class="im-span-home-divider" style="position: relative;bottom: -1px"
              ng-if="$index!=topic.details.length-1"></span>
      </a>
    </div>
  </ion-content>
</ion-view>

<style>
  .im-home-header {
    background-color: rgba(36, 43, 69, 0.9);
    background-size: 100% 0px !important;
  }

  .im-home-header > h3 {
    color: white !important;
    border: 0px;
  }

  .im-input-wrapper {
    background-color: rgba(36, 43, 69, 0.9) !important;
  }

  .im-location {
    padding: 0px 4px !important;
  }

  .im-location:before {
    vertical-align: top;
    font-size: 25px !important;
    line-height: 32px;
  }

  .im-scanner {
    padding: 0px !important;
  }

  .im-scanner:before {
    vertical-align: top;
    font-size: 29px !important;
    line-height: 32px;
  }

  .im-text-center {
    text-align: center
  }

  .im-clear-padding {
    padding: 0px;
  }

  .im-div-divider {
    min-height: 12px;
    background-color: #f5f5f5 !important;
    color: #222;
    font-weight: 500;
  }

  .im-right-border {
    border-right: 1px #f5f5f5 solid;
  }

  .im-bottom-border {
    border-bottom: 1px #f5f5f5 solid;
  }

  .im-clear-padding {
    padding: 0px;
  }

  .im-span-home-divider {
    border-bottom: 3px inset #f5f5f5;
    border-width: thin;
    padding: 0px;
    display: block;
    margin-left: 8px;
  }

  .im-list-bottom-top-clear {
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
  }

  .im-list-margin-bottom-1px {
    margin-bottom: 1px !important;
  }

  .im-clear-bottom-margin > a.activated {
    display: block;
  }
</style>
