<div class="bar bar-header item-input-inset im-account-header" back-button-type="button-icon"
     back-button-icon="ion-arrow-left-c">
  <a class="button button-icon button-clear ion-ios-gear-outline ion-white"
     href="#/tab/account-setting"></a>

  <h3 class="title">
    我的
  </h3>
  <button class="button button-icon button-clear ion-ios-more ion-white" ng-click="popover.show($event)"></button>
</div>

<ion-view>
  <div id="the-image-id" class="elastic-image"
       style="background-image: url('img/account-bg.jpeg')">
  </div>
  <ion-content elastic-image="the-image-id" class="" style="padding-top: 230px;">
    <!-- 用户图像-->
    <div style="position: absolute;top:-135px;width: 100%;">
      <div
        style="width: 80px;height: 80px;margin:auto;">
        <img src="../img/600.jpg" class="animated pulse"
             style="height: 100%;width: 100%;border-radius: 100%;border: 1px solid rgba(0, 0, 0, 0.25);padding: 0px">
      </div>
      <div style="height: 30px;line-height:30px;text-align: center">
        <strong style="color: #fbfbff !important;">哈利不是小王子</strong>
      </div>
      <div style="height: 20px;line-height:20px;text-align: center;color: #666">
        <span class="icon-pencil" style="color: white"></span> 大哥 尼玛炸了，真的炸了啊
      </div>
    </div>
    <!-- 列表-->
    <div class="im-div-divider"></div>

    <div class="list im-list-info"
         style="padding: 0px;margin: 0px;
         border-top: 1px solid #e0e0e0;
         border-bottom: 1px solid #e0e0e0;">

      <a class="item item-icon-left" style="margin: 0px;border: 0px"
         href="#/tab/wallet">
        <i class="icon ion-briefcase calm"></i>
        <span style="padding-left: 0px">钱包</span>
        <span class="item-note">
          50.00
        </span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
      </a>

      <span class="im-span-divider"></span>

      <a class="item item-icon-left" style="margin: 0px;border: 0px"
         href="#/tab/bank-card">
        <i class="icon ion-card positive"></i>
        <span style="padding-left: 0px">银行卡</span>
      <span class="badge">
      <i class="icon ion-chevron-right icon-accessory"></i>
      </span>
      </a>
    </div>

    <div class="im-div-divider"></div>

    <div class="list im-list-info"
         style="padding: 0px;margin: 0px;
         border-top: 1px solid #e0e0e0;
         border-bottom: 1px solid #e0e0e0;">

      <a class="item item-icon-left" style="margin: 0px;border: 0px"
         href="#/tab/follow">
        <i class="icon ion-heart assertive"></i>
        <span style="padding-left: 0px">关注</span>
        <span class="item-note">俏江南</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
      </a>

      <span class="im-span-divider"></span>
      <a class="item item-icon-left" style="margin: 0px;border: 0px"
         href="#/tab/coupons">
        <i class="icon ion-cash balanced"></i>
        <span style="padding-left: 0px">优惠券</span>
        <span class="item-note">星巴克</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
      </a>
      <span class="im-span-divider"></span>
      <a class="item item-icon-left" style="margin: 0px;border: 0px" href="#/tab/shopping_cart">
        <i class="icon ion-ios-cart positive"></i>
        <span style="padding-left: 0px">购物车</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
      </a>

      <span class="im-span-divider"></span>
      <a class="item item-icon-left" style="margin: 0px;border: 0px" href="#/tab/friends">
        <i class="icon ion-person-stalker royal"></i>
        <span style="padding-left: 0px">好友</span>
        <span class="badge">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </span>
      </a>
    </div>

    <div class="im-div-divider"></div>
    <ion-list style="padding: 0px;margin: 0px;
         border-top: 1px solid #e0e0e0;
         border-bottom: 1px solid #e0e0e0;">

      <ion-toggle ng-model="settings.enableFriends">
        推送附近活动
      </ion-toggle>
    </ion-list>

  </ion-content>
</ion-view>

<style>
  .im-account-header {
    background-color: rgba(36, 43, 69, 0.9);
    background-size: 100% 0px !important;
  }

  .im-account-header > h3 {
    color: white;
    border: 0px;
  }

  .im-div-divider {
    min-height: 14px;
    background-color: #f5f5f5 !important;
    color: #222;
    font-weight: 500;
  }

  .im-account-list > div > a {
    border-top: 0px !important;
    background-color: rgba(12, 19, 42, 0.8);
    min-height: 132px;
    padding-left: 92px !important;
    padding-top: 38px !important;
    border: 0px !important;
  }

  .im-account-list > div > a > img {
    top: 30px !important;
    max-width: 65px !important;
    max-height: 65px !important;
  }

  /*.im-account-list > div > a.activated {*/
    /*background-color: rgba(12, 19, 42, 0.8) !important;*/
  /*}*/

  .im-span-divider {
    display: block;
    margin-left: 17px;
    padding: 0;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, #ddd, #ddd 60%, transparent 60%);
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 1px;
  }

  .im-list-info > a {
    padding: 12px 12px 12px 50px !important;
  }

  .im-list-info > a > span {
    padding: 5px
  }

  .im-list-info > a > span.item-note {
    padding: 0px 25px 0px 0px
  }

  .im-list-info > a > span.badge {
    padding-top: 8px
  }

  .im-list-info > a > i {
    font-size: 23px !important;
  }

  .elastic-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    /* Initial image height: */
    height: 230px;
  }

</style>
