@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?re0bku');
	src:url('../fonts/icomoon.eot?re0bku#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?re0bku') format('truetype'),
		url('../fonts/icomoon.woff?re0bku') format('woff'),
		url('../fonts/icomoon.svg?re0bku#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="shebao-"], [class*=" shebao-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shebao-caption:before {
	content: "\e800";
}
.shebao-city:before {
	content: "\e801";
}
.shebao-close:before {
	content: "\e802";
}
.shebao-credit:before {
	content: "\e803";
}
.shebao-details:before {
	content: "\e804";
}
.shebao-extract:before {
	content: "\e805";
}
.shebao-find:before {
	content: "\e806";
}
.shebao-fund:before {
	content: "\e807";
}
.shebao-home:before {
	content: "\e808";
}
.shebao-left:before {
	content: "\e809";
}
.shebao-map:before {
	content: "\e80a";
}
.shebao-news:before {
	content: "\e80b";
}
.shebao-payment:before {
	content: "\e80c";
}
.shebao-right:before {
	content: "\e80d";
}
.shebao-search:before {
	content: "\e80e";
}
.shebao-shebao:before {
	content: "\e80f";
}

